/todo-list/.idea/*
/.idea/*
/todo-list/package-lock.json
/flashcard-quiz/.idea/*
/flashcard-quiz/package-lock.json
/currency-converter/.idea/*
/dice-clicker/.idea/*
/dice-clicker/dist/*
react-course/class-based-components/node_modules/.bin/esparse
**/node_modules/*
